@tailwind base;
@tailwind components;
@tailwind utilities;

/* Allow nested rainbow modals */
.iekbcc0 {
  pointer-events: auto;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply border-border-primary;
  }

  body {
    @apply border-border-primary text-content-primary bg-background-primary paragraph-md antialiased;
    text-rendering: optimizeLegibility;
  }

  h1 {
    @apply heading-1;
  }

  h2 {
    @apply heading-2;
  }

  h3 {
    @apply heading-3;
  }

  h4 {
    @apply heading-4;
  }

  h5 {
    @apply heading-5;
  }

  h6 {
    @apply heading-6;
  }

  ol {
    list-style-position: outside;
    list-style-type: decimal;
    display: inline-block;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
