@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply tracking-wide font-pt;
    }

    *,
    ::before,
    ::after {
        @apply border-primary;
    }

    body {
        @apply bg-primary text-primary border-primary text-[16px] leading-[24px] font-pt font-medium;
    }

    h1 {
        @apply text-[56px] leading-[64px] font-londrina font-normal;
    }

    h2 {
        @apply text-[42px] leading-[56px] font-londrina font-normal;
    }

    h3 {
        @apply text-[36px] leading-[44px] font-londrina font-normal;
    }

    h4 {
        @apply text-[28px] leading-[36px] font-londrina font-normal;
    }

    h5 {
        @apply text-[24px] leading-[32px] font-londrina font-normal;
    }

    h6 {
        @apply text-[18px] leading-[24px] font-londrina font-normal;
    }

    /* span,
    p {
        @apply text-[16px] leading-[24px] font-pt font-medium;
    } */

    .caption {
        @apply text-[14px] leading-[16px] font-pt font-medium;
    }

    ol {
        list-style-position: outside;
        list-style-type: decimal;
        display: inline-block;
    }

    .clickable-active {
        @apply brightness-[85%] scale-[98%] ease-in-out;
    }
}
