@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-pt tracking-wide;
  }

  *,
  ::before,
  ::after {
    @apply border-border-primary;
  }

  .title-4 {
    @apply text-[28px] leading-[36px];
  }

  body {
    @apply border-border-primary text-content-primary bg-background-primary font-medium;
  }

  h1 {
    @apply font-londrina text-[56px] font-normal leading-[64px];
  }

  h2 {
    @apply font-londrina text-[42px] font-normal leading-[56px];
  }

  h3 {
    @apply font-londrina text-[36px] font-normal leading-[44px];
  }

  h4 {
    @apply font-londrina text-[28px] font-normal leading-[36px];
  }

  h5 {
    @apply font-londrina text-[24px] font-normal leading-[32px];
  }

  h6 {
    @apply font-londrina text-[18px] font-normal leading-[24px];
  }

  span,
  p {
    @apply font-pt text-[16px] font-medium leading-[24px];
  }

  .caption {
    @apply font-pt text-[14px] font-medium leading-[16px];
  }

  ol {
    list-style-position: outside;
    list-style-type: decimal;
    display: inline-block;
  }

  .clickable-active {
    @apply scale-[98%] brightness-[85%] ease-in-out;
  }
}
