@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply border-border-primary;
  }

  html,
  body {
    width: 100vw;
    /* overflow: auto; */
  }

  body {
    @apply border-border-primary text-content-primary bg-background-primary paragraph-md antialiased;
    text-rendering: optimizeLegibility;
  }

  h1 {
    @apply heading-1;
  }

  h2 {
    @apply heading-2;
  }

  h3 {
    @apply heading-3;
  }

  h4 {
    @apply heading-4;
  }

  h5 {
    @apply heading-5;
  }

  h6 {
    @apply heading-6;
  }

  ol {
    list-style-position: outside;
    list-style-type: decimal;
    display: inline-block;
  }
}
